.app-header {
    color: white;
    font-weight: 700;
}

.app-header section.container {
    padding: 1%;

}

.app-header h1.logo {
    font-weight: 600;
}

.app-header nav a:not(:last-child) {
    margin-right: 10px;
}

.navbar {
    float: right;
}

.header {
    display: inline;
    font-weight: 700;
}