.compose-main-container {
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: 3;
    overflow: hidden;
    background-color: #fff;
    height: 80%;
    width: 40%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: #0656d0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.new-message {
    background-color: #f2f6fc;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 15px;
    font-size: 600;
    display: flex;
}

img {
    width: 20px;
    height: 20px;
}

.new-message-title-normal {
    margin-right: 63%;
}

.new-message-close-btn,
.new-message-minimized,
.new-message-fullscreen {
    margin-right: 1%;
    font-weight: bold;
    cursor: pointer;
}

.new-message-recipients,
.new-message-subject {
    padding: 10px;
    padding-left: 20px;
    border-bottom: 1px solid rgb(223, 222, 222);
}

.input-recipients,
.input-subject {
    border: none;
}

.body-input {
    border: none;
    height: 300px;
    margin: 20px;
    width: 100%;
    overflow: scroll;
}

.body-input-container {
    width: 90%;
    box-sizing: border-box;
}

.new-message-send-btn {
    position: absolute;
    left: 20px;
    color: #fff;
    background-color: #0656d0;
    width: 100px;
    height: 40px;
    bottom: 10px;
    border-radius: 30px;
    border: none;
    font-size: medium;
}

.minimized {
    position: fixed;
    bottom: -70%;
    right: 20px;
    width: 30%;
}

.new-message-title-minimized {
    margin-right: 50%;
}

.fullscreen {
    position: fixed;
    bottom: 10%;
    left: 10%;
    width: 80%;
}

.new-message-title-fullscreen {
    margin-right: 80%;
}