.search-outter-box {
    grid-area: search;
    margin-top: 19px;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    text-align: center;
    justify-content: start;
    margin-bottom: 10px;
}

.search-box::placeholder {
    color: black;
    font-size: 17px;
}

textarea:focus,
input:focus {
    outline: none;
}

.wrapper-search {
    padding: 15px;
}

.search-box {
    padding-left: 5px;
    font-size: 16px;
    border-radius: 40px;
    display: flex;
    width: 75%;
    height: 48px;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    background-color: #e9f1fb;
    border: none;
}

.search-input {
    display: flex;
    align-items: center;
    padding: 10px;

}

.sort {
    margin: 1%;
}

.option-btn {
    cursor: pointer;
    margin-left: 80px;
}

.email-filter-options {
    display: none;
    position: fixed;
    top: 85px;
    left: 38%;
    z-index: 3;
    overflow: hidden;
    background-color: #fff;
    padding: 20px;
    width: 40%;
    box-shadow: #0656d0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filter-options {
    display: flex;
    flex-direction: column;
}

.option {
    display: flex;
    align-items: center;
    gap: 6px;
    line-height: 20px;
}

.option>input {
    border: none;
    border-bottom: 1px solid rgb(223, 222, 222);
    width: 100%;
    overflow: scroll;
    margin: 10px;
}

.filter-footer {
    margin-top: 25px;
}

.search-btn {
    position: absolute;
    right: 20px;
    color: #fff;
    background-color: #0656d0;
    width: 100px;
    height: 40px;
    padding: 0 20px;
    bottom: 10px;
    border: none;
    border-radius: 10px;
    font-weight: 450;
    font-size: 16px;
}

.clear-filter {
    position: absolute;
    bottom: 20px;
    right: 150px;
    cursor: pointer;
}

.show {
    display: block;
}