.email-preview {
    display: flex;
    align-items: center;
    gap: 10px;
    border-right: none;
    border-bottom: 0.4px solid gray;
    width: 100%;
    height: 30px;
    background-color: white;
}

.email-preview:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.select-starr {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 500px 850px auto;
    column-gap: 15px;
    width: 100%;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.un-read {
    font-weight: 650;
}

.is-read {
    font-weight: normal;
}

.starred {
    color: yellow;
}

.from,
.subject,
.draft {
    font-size: large;
}

.body {
    font-size: smaller;
}

.from,
.subject,
.body,
.draft {
    display: inline;
    margin: 1.5%;
}

.email-actions {
    display: none;
    z-index: 4;
    float: right;
    margin-right: 1%;
}

.email-preview:hover .email-actions {
    display: flex;
}

.email-preview:hover .date {
    display: none;
}

.draft {
    cursor: pointer;
    color: red;
}

.draft>span {
    color: black;
}