.logo {
    padding: 19px 30px;
    grid-area: header;
    display: flex;
    cursor: pointer;
}

.menu-btn {
    margin-right: 10px;
    padding: 12px;
    border: none;
    background-color: #f6f8fc;
}

.menu-btn:hover {
    border-radius: 30px;
    background-color: lightgray;
}

.logo h1 {
    margin-left: 10px;
    font-size: 30px;
    margin-bottom: 7px;
}