button.new-email {
    float: right;
    padding: 1%;
    border-radius: 10px;
    border: 1px solid white;
    width: 100px;
    height: 50px;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: rgb(194, 188, 188);
}

.btn-close {
    background-color: rgb(194, 188, 188);
    border: none;
    cursor: pointer;
    float: right;
}

.btn-send {
    padding: 10px;
    background-color: lightcoral;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

.modal-section {
    margin: 1%;
}

.modal-subject,
.modal-to {
    border: none;
    border-bottom: 0.5px solid rgb(194, 188, 188);
    width: 80%;
    margin: 5px;
}

textarea {
    height: 108px;
    width: 100%;
    ;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    margin: 10px;
}

/* Modal Content */
.modal-content {
    position: absolute;
    bottom: 5%;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}