.user-msg {
    background-color: black;
    position: fixed;
    padding: 15px;
    bottom: 10px;
    left: 10px;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.user-msg.error {
    background-color: red;
}

.user-msg button {
    float: right;
    width: fit-content;
    border: none;
    color: gray;
    background-color: black;
    cursor: pointer;
}